<!-- 1 -->

<button (click)="toggler = !toggler">Button</button>

<ng-template [ngIf]="toggler" [ngIfThen]="test" [ngIfElse]="second">
    <p>
        learning Angular
    </p>
</ng-template>
<ng-template #test>
    <p>
        2
    </p>
</ng-template>
<ng-template #second>
    <p>
        1
    </p><br>

<!-- 2 -->

</ng-template>
<ng-container *ngIf = "true">
<div *ngFor="let item of arr">
    <span>{{item}}</span>
</div>
</ng-container><br>

<!-- 3 -->

<ng-container *ngIf = "obj.first.second.third as info">
    <p>Name: {{ info.name }}</p>
    <p>Name: {{ info.name }}</p>
</ng-container><br>

<!-- 4 -->

<div *ngFor="let item of arr; even as evenItem; index as currentIndex">
  <span *ngIf="evenItem">{{ item }}</span>
  <span style="color: orangered; margin-left: 20px">{{ currentIndex }}</span>
</div><br>











